<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofertas - MiTiend@</title>
    <link rel="icon" href="../img/iconpng.png" />
    <link rel="stylesheet" href="../css/ofertas.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid p-0">
          <a class="navbar-brand m-2 active" href="../../index.html"
            >MiTiend@</a
          >
          <button
            class="navbar-toggler me-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-1 mb-lg-0">
              <li class="nav-item ms-2">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../views/ofertas.html"
                  >Ofertas</a
                >
              </li>
              <li class="nav-item ms-2 dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                  <li>
                    <a class="dropdown-item" href="../views/hombre.html"
                      >Ropa de Hombre</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/mujer.html"
                      >Ropa de Mujer</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider item-disabled" />
                  </li>
                  <li>
                    <a class="dropdown-item item-disabled" href="#"
                      >Lo más vendido</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item ms-2">
                <a class="nav-link" href="../views/quienessomos.html"
                  >Quiénes Somos</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control ms-2 me-3 mb-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
      </nav>

      <!-- CAROUSEL -->
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <span class="d-block w-100 carousel1"></span>
          </div>

          <div class="carousel-item">
            <span class="d-block w-100 carousel2"></span>
          </div>

          <div class="carousel-item">
            <span class="d-block w-100 carousel3"></span>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>

    <!-- CATEGORIAS -->
    <div class="container-fluid categorias">
      <a href="#" class="categorias-item icon1"></a>
      <a href="#" class="categorias-item icon2"></a>
      <a href="#" class="categorias-item icon3"></a>
      <a href="#" class="categorias-item icon4"></a>
      <a href="#" class="categorias-item icon5"></a>
      <a href="#" class="categorias-item icon6"></a>
      <a href="#" class="categorias-item icon7"></a>
      <a href="#" class="categorias-item icon8"></a>
    </div>

    <!-- PORTADA -->
    <div class="container-fluid-md oferta"></div>

    <!-- MAIN -->
    <main>
      <section class="section">
        <div class="section-info">
          <a class="links" href="../views/mujer.html">
            <h3 class="info-title">Mujer</h3>
          </a>
        </div>

        <div class="section-items">
          <article class="items-card mu1">
            <a class="links" href="../views/mujer.html#art-m1">
              <div class="card-title">Remera ML Florida</div>
              <div class="price">$1500</div>
            </a>
          </article>

          <article class="items-card mu2">
            <a class="links" href="../views/mujer.html#art-m2">
              <div class="card-title">Babucha Engomada</div>
              <div class="price">$2000</div>
            </a>
          </article>

          <article class="items-card mu3">
            <a class="links" href="../views/mujer.html#art-m3">
              <div class="card-title">Campera Helen Black</div>
              <div class="price">$3000</div>
            </a>
          </article>

          <article class="items-card mu4">
            <a class="links" href="../views/mujer.html#art-m4">
              <div class="card-title">Chaleco Uma Engomado</div>
              <div class="price">$2500</div>
            </a>
          </article>

          <article class="items-card mu5">
            <a class="links" href="../views/mujer.html#art-m5">
              <div class="card-title">Sweater Holanda</div>
              <div class="price">$4000</div>
            </a>
          </article>

          <article class="items-card mu6">
            <a class="links" href="../views/mujer.html#art-m6">
              <div class="card-title">Blazer Twill Sastrero</div>
              <div class="price">$5700</div>
            </a>
          </article>
        </div>
      </section>

      <section class="section">
        <div class="section-info">
          <a class="links" href="../views/hombre.html">
            <h3 class="info-title">Hombre</h3>
          </a>
        </div>

        <div class="section-items">
          <article class="items-card ho1">
            <a class="links" href="../views/hombre.html#art-h1">
              <div class="card-title">Jean Barcelona</div>
              <div class="price">$2500</div>
            </a>
          </article>

          <article class="items-card ho2">
            <a class="links" href="../views/hombre.html#art-h2">
              <div class="card-title">Camisa Denim</div>
              <div class="price">$3200</div>
            </a>
          </article>

          <article class="items-card ho3">
            <a class="links" href="../views/hombre.html#art-h3">
              <div class="card-title">Sweater Panal lll</div>
              <div class="price">$2000</div>
            </a>
          </article>

          <article class="items-card ho4">
            <a class="links" href="../views/hombre.html#art-h4">
              <div class="card-title">Capa Darly</div>
              <div class="price">$6500</div>
            </a>
          </article>

          <article class="items-card ho5">
            <a class="links" href="../views/hombre.html#art-h5">
              <div class="card-title">Buzo Theo</div>
              <div class="price">$4200</div>
            </a>
          </article>

          <article class="items-card ho6">
            <a class="links" href="../views/hombre.html#art-h6">
              <div class="card-title">Jean Niza</div>
              <div class="price">$2500</div>
            </a>
          </article>
        </div>
      </section>

      <section class="section">
        <div class="section-info">
          <a class="links" href="">
            <h3 class="info-title">Infantil</h3>
          </a>
        </div>

        <div class="section-items">
          <article class="items-card ni1">
            <a class="links" href="#">
              <div class="card-title">Babucha Cergo Teens</div>
              <div class="price">$3300</div>
            </a>
          </article>

          <article class="items-card ni2">
            <a class="links" href="#">
              <div class="card-title">Cargo Engomado</div>
              <div class="price">$3900</div>
            </a>
          </article>

          <article class="items-card ni3">
            <a class="links" href="#">
              <div class="card-title">Jean Mom</div>
              <div class="price">$2800</div>
            </a>
          </article>

          <article class="items-card ni4">
            <a class="links" href="#">
              <div class="card-title">Tapado con Corderito</div>
              <div class="price">$5900</div>
            </a>
          </article>

          <article class="items-card ni5">
            <a class="links" href="#">
              <div class="card-title">Buzo Frizado Oversize</div>
              <div class="price">$4500</div>
            </a>
          </article>

          <article class="items-card ni6">
            <a class="links" href="#">
              <div class="card-title">Sweater Plush</div>
              <div class="price">$3500</div>
            </a>
          </article>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer d-flex flex-column">
      <hr class="m-0" />
      <div class="footer-content d-flex flex-row justify-content-center">
        <a
          href="public/views/quienessomos.html#contacto"
          class="footer-item p-3 pb-0"
          >Contacto</a
        >
        <a href="#" class="footer-item p-3 pb-0">Privacidad</a>
        <a href="#" class="footer-item p-3 pb-0">Terminos y Condiciones</a>
      </div>

      <div class="footer-content">
        <p class="footer-item p-2 m-0">
          &copyMiTiend@ por Christian Bonilla- Potrero Digital 2023
        </p>
        <p class="footer-item">
          Iconos por
          <a href="https://www.flaticon.es/autores/icongeek26" target="_blank">Icongeek26</a>
        </p>
      </div>
    </footer>

    <!-- Script Boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
